/* google font */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rubik+Doodle+Shadow&family=Source+Code+Pro&display=swap");
/* google font */
/* common shared style */
* {
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding-top:30px ;
}
.text_primary {
    color: #fd6e0a;
}
.btn_primary {
    border-radius: 5px;
    background: #fd6e0a;
    padding: 14px 28px;
    border: none;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
/* common shared style */

/* header css */
.header{
    background: #FFF8F3;
    background-color: #FFF8F3;
    height: 100vh;
}

nav {
    display: flex;

    justify-content: space-between;

    align-items: center;
}
.nav_title {
}
.nav_title h3 {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800 !important;
    line-height: 0px;
}
.nav_title span {
}
.nav_menu {
    display: flex;
}
.nav_menu ul {
    display: flex;
    align-items: center;
}
.nav_menu li {
    margin-right: 50px;
    list-style: none;
}
.nav_menu li a {
    text-decoration: none;
    color: #474747;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.nav_menu li a:hover {
}
.banner{
    display: flex;
    align-items: center;
}
.banner_elements{

}
.banner_elements h3{

}
.banner_elements h1{

}
.banner_elements p{

}
.banner_elements button{

}
.banner_image{
    
}
.banner_image img{
    width: 100%;
}
/* header css */
