/* google font */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rubik+Doodle+Shadow&family=Source+Code+Pro&display=swap");
/* google font */
/* common shared style */
* {
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
}
.text_primary {
    color: #fd6e0a;
}
.btn_primary {
    border-radius: 5px;
    background: #fd6e0a;
    padding: 14px 28px;
    border: none;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
.section_title {
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
}
.section_desc {
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0px;
    color: #757575;
}
/* common shared style */

/* header css */
.header {
    background: #fff8f3;
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    height: 100vh;
}

nav {
    display: flex;

    justify-content: space-between;

    align-items: center;
}
.nav_title {
}
.nav_title h3 {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800 !important;
    line-height: 0px;
}
.nav_title span {
}
.nav_menu {
    display: flex;
}
.nav_menu ul {
    display: flex;
    align-items: center;
}
.nav_menu li {
    margin-right: 50px;
    list-style: none;
}
.nav_menu li a {
    text-decoration: none;
    color: #474747;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.nav_menu li a:hover {
}
.banner {
    display: flex;
    align-items: center;
}
.banner_elements {
}
.banner_elements h3 {
    font-size: 28px;

    color: #4d4747;

    font-weight: 600;
}
.banner_elements h1 {
    font-size: 60px;

    font-weight: 700;

    color: #181818;
}
.banner_elements p {
    font-size: 16px;

    font-weight: 400;

    margin: 15px 0 20px;

    color: #757575;
}
.banner_elements button {
    margin-right: 10px;
}

.banner_image {
    display: flex;
}
.banner_img_main img {
    width: 100%;
    margin-top: 50px;
}
/* header css */
/* about_section css */
.about_section {
    height: 100vh;
    display: flex;
    align-items: center;
}
.about_section_wrapper {padding: 200px 150px;}

.about_info_container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info_title{
    text-transform: capitalize;
    color: #757575;
    line-height: 30px;
    font-size: 16px;
}
.info_desc{

font-weight: 700;

font-size: 18px;
}
/* about_section css */
/* what_i_do_section styles */
.what_i_do_section{
    height: 100vh;
    display: flex;
    align-items: center;
}
.what_i_do_section_wrapper{
    padding: 0px 95px;
}
.skills_container{
    display: flex;
}
.skill{

padding: 15px;
}
.skill_title{

text-transform: capitalize;

line-height: 60px;
}
.skill_desc{

}
/* what_i_do_section styles */
/* resume section style */
.resume_section{
    padding: 50px 0;
    display: flex;
    align-items: center;
}
.resume_section_wrapper{
}
.resume_container{
    display: flex;
    gap: 50px;
    margin: 90px 0 40px;
}
.resume_title{

font-size: 25px;

font-weight: 700;

color: #474747;

margin: 15px 0;
}
.resume_column hr{
    
margin: 30px 0;
}
.resume_item{width: 70%;}
.resume_item_title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    color: #474747;
}
.resume_item_inst{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #757575;
    margin: 5px 0 15px;
}
.resume_item_desc{
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.download_cv{
    text-align: center;
    margin-top: 50px;
}
/* resume section style */

/* footer section style  */
footer{
    height: 100vh;
    
    background-color: #FFF8F3;
}
.footer_wrapper{
    padding: 50px 0;
    display: flex;
}
.footer_column{
    flex-basis: 50%;
}
.footer_text{
    text-align: left;
}
.social-links{}
.social-links a{
}
.social-links a:hover{}
.social-links img{
    width: 30px;
    margin-right: 25px;
}
.footer_column form{
    padding: 30px 20px 20px;
}
.footer_column form input[type="text"], input[type="email"],input[type="email"],.textarea{
    padding: 16px 25px;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: white;
    border: 0;
    width: 100%;
    text-transform: capitalize;
}
.textarea{

}
.footer_column form input[type="submit"]{
    display: block;
    margin-top: 10px;
}
/* footer section style  */